{{#each posts as |post| }}
<div class="row mb-4">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <p class="card-text"><small class="text-body-secondary">{{post.time_created}}</small></p>
        </div>
    </div>
</div>
{{/each}}